* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  z-index: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.blue-gradient-background,
.bg-gray-800 {
  background-image: linear-gradient(
      66deg,
      transparent 0%,
      transparent 24%,
      rgba(195, 195, 195, 0.04) 24%,
      rgba(195, 195, 195, 0.04) 80%,
      transparent 80%,
      transparent 100%
    ),
    linear-gradient(
      153deg,
      transparent 0%,
      transparent 29%,
      rgba(195, 195, 195, 0.04) 29%,
      rgba(195, 195, 195, 0.04) 45%,
      transparent 45%,
      transparent 100%
    ),
    linear-gradient(
      199deg,
      transparent 0%,
      transparent 32%,
      rgba(195, 195, 195, 0.04) 32%,
      rgba(195, 195, 195, 0.04) 59%,
      transparent 59%,
      transparent 100%
    ),
    linear-gradient(
      277deg,
      transparent 0%,
      transparent 56%,
      rgba(195, 195, 195, 0.04) 56%,
      rgba(195, 195, 195, 0.04) 57%,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(-90deg, #02203c, #001528);
}
.dark-gradient-background {
  background: linear-gradient(-90deg, #182633, #112131);
}
.light-gradient-background {
  background: linear-gradient(-90deg, #d2e4f5, #90adc8);
}
.lightest-gradient-background,
.bg-gray-200 {
  background: linear-gradient(-90deg, #e8ebee, #d5e0eb);

  background-image: linear-gradient(
      297deg,
      transparent 0%,
      transparent 34%,
      rgba(178, 178, 178, 0.02) 34%,
      rgba(178, 178, 178, 0.02) 53%,
      transparent 53%,
      transparent 100%
    ),
    linear-gradient(
      222deg,
      transparent 0%,
      transparent 30%,
      rgba(8, 8, 8, 0.02) 30%,
      rgba(8, 8, 8, 0.02) 58%,
      transparent 58%,
      transparent 100%
    ),
    linear-gradient(
      352deg,
      transparent 0%,
      transparent 25%,
      rgba(88, 88, 88, 0.02) 25%,
      rgba(88, 88, 88, 0.02) 57%,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

.header {
  padding: 1.5rem;
}

.watermark {
  position: absolute;
  right: 10%;
  top: 10%;
  opacity: 0.05;
  font-size: 100px;
  pointer-events: none;
  overflow: hidden;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100px;
  z-index: 10;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100px;
  background: #fff;
}

.sideBarToggle {
  outline: none !important;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 17px;
  left: 28px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 100px;
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.text-placeholder {
  border-radius: 5px;
  width: 50px;
  height: 20px;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .small-svg {
    display: none;
  }
}

.map {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.4;
}

.project-card {
  opacity: 0.9;
  transform: scale(1);
  transition: all 0.2s ease-out 0.09s;
  cursor: pointer;
}

.project-card:hover {
  opacity: 1;
  transform: scale(1.05);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 11;
}

.bg-dark-editor {
  background: rgb(43, 48, 59);
}

.blinker {
  height: 20px;
  opacity: 0;
  display: inline-block;
  animation: blink 0.6s ease-out infinite alternate;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
